*{
  margin: 0;
  box-sizing: border-box;
}

#container > h1{
  text-align: center;
}

#easyInstruction > p{
  text-align: center;
}

#quoteBubble{
  border: 2px solid;
  width: 516px;
  height: 505px;
}

#rightTalkBubble{
  /* transform: scaleX(-1); */
}

#proudEmoji{
  /* border: 2px solid; */
  width: 200px;
  display: inline-block;
}



#sadFace{
    visibility: hidden;
}

#happyFace, #thumbsUp{
    visibility: hidden;
}

#thumbsUp{
    visibility: hidden;
    visibility:
}
#easyInput{
  border: 2px solid;
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 35px;
}

#easyBtn{
  border: 2px solid purple;
  width: 250px;
  height: 65px;
  font-size: 45px;
  display: inline;
}

h5{
  margin: 2% 40%;
  font-size: 18px;
  color: #117D11;
}

h5:hover{
    text-decoration: underline;
    font-size: 25px;
}

#randomNumber{
  border: 4px solid green;
  padding-top: 12px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 35px;
}
