*{
  margin: 0;
  box-sizing: border-box;
}

#container{
  border: 2px solid;
  width: 98%;
  margin-left: 1%;
}

#secondContainer{
  width: 60%;
  margin-left: 20%;
  position: relative;
  bottom: 150px;
}

#container > h1{
  text-align: center;
}

#easyInstruction > p{
  text-align: center;
  font-size: 34px;
  font-family: fantasy;
  position: relative;
  top: 170px;
}

#quoteBubble{
  width: 100%;
  height: 32em;
}

.originalTalkBubble{
  background-image: url('./Images_Folder/Right_Speach_Bubble_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scaleX(-1);
}

.wrongAnswerBubble{
  background-image: url('./Images_Folder/Left_Speach_Bubble_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: none;

}

.rightAnswerBubble{
  background-image: url('./Images_Folder/Middle_Speach_Bubble_icon.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  transform: none;

}

#sadFace{
    visibility: hidden;
    margin-left: 10%;
    width: 21%;
    height: auto;
    position: relative;
    bottom: 19px;
}

#happyFace{
    visibility: hidden;
    margin-left: 7%;
    width: 21%;
    height: auto;
    position: relative;
    bottom: 19px;
}

#thumbsUp{
    visibility: hidden;
    margin-left: 1%;
    width: 9%;
    height: auto;
    position: relative;
    bottom: 20px;
}

#thinkingFace{
    visibility: visible;
    margin-left: 4%;
    width: 21%;
    height: auto;
    position: relative;
    bottom: 19px;
}

#easyInput{
  border: 2px solid;
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 35px;
}

#easyBtn{
  border: 2px solid purple;
  width: 250px;
  height: 65px;
  font-size: 45px;
  display: inline;
  cursor: pointer;
}

#counter{
  width: 30px;
  height: 40px;
  padding-left: 6px;
  font-family: sans-serif;
  font-weight: 800;
  color: green;
  font-size: 30px;
  display: inline-block;
}

h5{
  text-align: center;
  font-size: 30px;
  color: #117D11;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}

h5:hover{
    text-decoration: underline;
    font-size: 37px;
}

#randomNumber{
  border: 4px solid green;
  padding-top: 12px;
  width: 570px;
  height: 70px;
  text-align: center;
  font-size: 35px;
  position: relative;
  left: 29%;
  bottom: 660px;
}

h2, #message{
  text-align: center;
  position: relative;
  bottom: 150px;
}

#message{
  font-size: 20px;
  margin-top: 5px;
}

#easyInput, #easyBtn{
  position: relative;
  left: 36%;
  bottom: 150px;
}
