*{
  margin: 0;
  box-sizing: border-box;
}

#container > h1{
  text-align: left;
}

#easyInstruction > p{
  text-align: left;
}

#quoteBubble{
  border: 2px solid;
  width: 516px;
  height: 505px;
}

.originalTalkBubble{
  background-image: url('./Images_Folder/Right_Speach_Bubble_icon.png');
  background-repeat:no-repeat;
  transform: scaleX(-1);
}

.wrongAnswerBubble{
  background-image: url('./Images_Folder/Left_Speach_Bubble_icon.png');
  background-repeat: no-repeat;
  transform: none;
}

.rightAnswerBubble{
  background-image: url('./Images_Folder/Middle_Speach_Bubble_icon.png');
  background-repeat:no-repeat;
  transform: none;
}

#proudEmoji{
  width: 200px;
  display: inline-block;
}



#sadFace{
    visibility: hidden;
}

#happyFace, #thumbsUp{
    visibility: hidden;
}

#thumbsUp{
    visibility: hidden;
    visibility:
}
#easyInput{
  border: 2px solid;
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 35px;
}

#easyBtn{
  border: 2px solid purple;
  width: 250px;
  height: 65px;
  font-size: 45px;
  display: inline;
}

#counter{
  width: 30px;
  height: 40px;
  padding-left: 6px;
  font-family: sans-serif;
  font-weight: 800;
  color: green;
  font-size: 30px;
  display: inline-block;
}

h5{
  margin: 2% 40%;
  font-size: 18px;
  color: #117D11;
}

h5:hover{
    text-decoration: underline;
    font-size: 25px;
}

#randomNumber{
  border: 4px solid green;
  padding-top: 12px;
  width: 670px;
  height: 70px;
  text-align: center;
  font-size: 35px;
}
